body {
    max-width: 1280px;
    margin-left: auto;


}

header {
    text-align: center;
    background-image: url("images/header.jpg");
    background-position: 0px 79%;
}

header h2 {
    font-size: 4em;
<<<<<<< HEAD
    color: white;
    margin: 0;
    padding: 1em 0;
=======
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding:1em 0;
>>>>>>> 6bdfeb4e953db56c2d4d8f4de2e17b97c8d7bc34
}

header h3 {
    font-size: 2em;
    margin: 0;
}

header h4 {
    font-size: 0.75em;
<<<<<<< HEAD

=======
    
>>>>>>> 6bdfeb4e953db56c2d4d8f4de2e17b97c8d7bc34
}

.author {
    text-align: center;
}
<<<<<<< HEAD

.author img {
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;

}

address a {
    color: grey;
}

main {
    width: 70%;
    margin: auto;
}

main figure {
    margin-left: 0;
}

main figcaption {
    float: left;
    margin-left: -14em;
    width: 10em;
    /* durch float werden elemente verschoben, margin left zeigt wohin man es verschiebt, width- die breite des Textes */
}

main figure img {
    width: 90%;
/* bilder noch verkleinern!!! im Bild editor! */}

#map{height:360px;
    width: 90%;
    border: 1px solid black;

}

.back{float:left;}
.next{float:right;}
=======
.author img{
    border:4px solid white;
    border-radius: 50%;
    margin-top: -10px;

}
>>>>>>> 6bdfeb4e953db56c2d4d8f4de2e17b97c8d7bc34
